/* 这个文件里面放4个页面公共的一些样式，比如背景、导航栏等 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                      url(../image/2.jpg);
    background-position: center center;
    background-repeat: repeat;
    /* background-size: cover; */
    background-color: #ffffff;
    background-attachment: fixed;   
}
a {
    text-decoration: none;
} 
a:visited {
    color: rgb(0, 0, 0);
}
/* 导航栏 */
.nav {
    width: 100%;
    max-width: 960px;
    margin: 5px auto;
    height: 70px;
    background-color: rgba(98, 149, 215, 0.85);
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 3px #3471c0;
    backdrop-filter: blur(3px);
    border: 1px solid rgba(0, 0, 0, 0.15);
}   
/* 导航栏中的 log */
.nav img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #000000;
}

/* 导航栏中的标题 */
.nav .title {
    height: 100%;
    margin: auto;
    /* border: 1px solid #000000; */
    display: flex;
    flex-direction: row; /* 改为横向排列 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    gap: 40px; /* 标题间距 */
    padding: 0 10px; /* 左右内边距 */
    /* font-size: 20px; */
}
.nav .title a {
    color: rgb(255, 255, 249);
}
.title-1 {
    padding: 6px 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.15);
}
.title-2 {
    padding: 5px 20px;
    border-radius: 8px;
}
/* 导航栏中的占位符 */
.nav .spacer {
    width: 110px;
    height: 40px;;
}
.nav .playBtn {
    display: none;
}
/* 版心的样式 */
.container {
    width: 100%;
    max-width: 960px;
    /* height: calc(100% - 55px); */
    margin: 12px auto;
    /* 为了让版心里面的子元素能够以左右布局的方式显示，使用 flex 布局 */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}
/* 左侧区域样式 */
.container .container-left {
    /* height: 160%; */
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* 右侧区域样式 */
.container .container-right {
    height: 1080px;
    width: 100%;
    background-color: rgba(239, 250, 255, 0.7);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px #43698e;
    backdrop-filter: blur(3px);
}

/* 用户信息卡片，也会在多个页面中用到 */
.card {
    border-radius: 5px;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(239, 250, 255, 0.6);
    box-shadow: 0 0 5px #43698e;
    backdrop-filter: blur(3px);

}
/* 鼠标悬停时的效果 */
.card a:link, .card2 a:link {
    color: #000000;
}
/* 用户头像 */
.card img {
    width: 170px;
    height: 150px;
    border-radius: 15px;
    border: 3px solid rgba(0, 106, 182, 0.1);
}
.card img:hover{
    border: 4px solid rgba(0, 106, 182, 0.2);
}
/* 用户名 */
.card h3 {
    text-align: center;
}
/* 其它信息 */
.card a, .card2 a {
    text-decoration: none;
    text-align: center;
    /* padding-top: 5px; */
    cursor:default

}
.card .aaa {
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 32px;
    border-radius: 8px;
    background-color: #b1c8d779;
    border: 1px solid #818181;
}
.card .aaa:hover {
    font-size: 18px; /* 悬停时字体变大 */
}
.card .aaa:hover {
    background-color: #2680ad8c;
    cursor: default;
    border-radius: 8px;
}
.card2 {
    border-radius: 5px;
    padding: 10px 35px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(239, 250, 255, 0.6);
    box-shadow: 0 0 5px #43698e;
    backdrop-filter: blur(3px);
}
.card2 .aa {
    width: 100%;
    height: 28px;
    text-align: left;
    line-height: 28px;
    font-size: 18px;
    border-radius: 8px;
    padding: 0 10px;
}
.card2 .aa:hover {
    font-size: 19px; 
    background: rgba(17, 96, 125, 0.1);
    cursor: default;
}