/* 这个文件里面放4个页面公共的一些样式，比如背景、导航栏等 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), 
                      url(../image/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #aad5ff;
    background-attachment: fixed;   
} 
a:visited {
    color: rgb(0, 0, 0);
}
/* 导航栏 */
.nav {
    width: 100%;
    max-width: 960px;
    margin: 5px auto;
    height: 70px;
    background-color: rgba(98, 149, 215, 0.7);
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 3px #3471c0;

}
.nav .title a {
    color: rgb(255, 255, 255);
}
.nav .title a:hover{
    color: rgb(5, 0, 26);
}    
/* 导航栏中的 log */
.nav img {
    width: 40px;
    height: 40px;
    margin-left: 18px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #000000;
}

/* 导航栏中的标题 */
.nav .title {
    width: 130px;
    font-size: 20px;
}
/* 导航栏中的占位符 */
.nav .spacer {
    display: none;
    height: 40px;
    width: calc(100% - 250px);
}
/* 导航栏中的链接 */
.nav a {
    width: 60px;
    text-decoration: none;
    cursor:default
}
.ctrap {
    display: none;
}
/* 版心的样式 */
.container {
    width: 100%;
    max-width: 960px;
    /* height: calc(100% - 55px); */
    margin: 12px auto;
    /* 为了让版心里面的子元素能够以左右布局的方式显示，使用 flex 布局 */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}
/* 左侧区域样式 */
.container .container-left {
    /* height: 160%; */
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* 右侧区域样式 */
.container .container-right {
    height: 1080px;
    width: 100%;
    background-color: rgba(239, 255, 255, 0.55);
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px #1f526b;


}

/* 用户信息卡片，也会在多个页面中用到 */
.card {
    border-radius: 15px;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(239, 250, 255, 0.5);
    box-shadow: 0 0 5px #1f526b;

}
/* 鼠标悬停时的效果 */
.card a:link, .card2 a:link {
    color: #000000;
}
/* 用户头像 */
.card img {
    width: 170px;
    height: 150px;
    border-radius: 8px;
    border: 3px solid rgba(0, 182, 24, 0.1);
}
.card img:hover{
    border: 4px solid rgba(0, 182, 24, 0.2);
}
/* 用户名 */
.card h3 {
    text-align: center;
}
/* 其它信息 */
.card a, .card2 a {
    text-decoration: none;
    text-align: center;
    /* padding-top: 5px; */
    cursor:default

}
.card .aaa {
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 32px;
    border-radius: 8px;
    background-color: #b1c8d7;
    border: 1px solid #818181;
}
.card .aaa:hover {
    font-size: 18px; /* 悬停时字体变大 */
}
.card .aaa:hover {
    background-color: #ec5aff;
    cursor: default;
    border-radius: 8px;
}
.card2 {
    border-radius: 15px;
    padding: 10px 35px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(239, 250, 255, 0.5);
    box-shadow: 0 0 5px #1f526b;
}
.card2 .aa {
    width: 100%;
    height: 28px;
    text-align: left;
    line-height: 28px;
    font-size: 18px;
    border-radius: 8px;
    padding: 0 10px;
}
.card2 .aa:hover {
    font-size: 19px; 
    background-color: rgba(12, 58, 100, 0.2);
    cursor: default;
}