/* 这个文件里面放4个页面公共的一些样式，比如背景、导航栏等 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default
}

html,
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../image/2.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-color: #ffffff;
    background-attachment: fixed;
}
a {
    text-decoration: none;
} 
/* 导航栏 */
.nav {
    width: 100%;
    height: 70px;
    background-color: rgba(52, 113, 192, 0.8);
    display: flex;
    align-items: center;
    backdrop-filter: blur(3px);
}
.nav .title{
    display: none;
}
.nav a:hover {
    color: rgb(5, 0, 26);
}
/* 导航栏中的 log */
.nav img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #000000;
}

/* 导航栏中的标题 */

/* 导航栏中的占位符 */
.nav .spacer {
    display: none;
    /* height: 40px; */
    /* width: calc(100% - 260px); */
}
.ctrap {
    width: 70px;
    background-color: #00000028;
    padding: 5px;
    border-radius: 10px;
}
.playBtn {
    margin-left: auto;
    margin-right: 5px;
}
/* 导航栏中的链接 */
.nav a {
    text-decoration: none;
    color: #ffffff;
}
.nav p {
    font-size: 20px;
}
/* 版心的样式 */
.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.container-card {
    display: none;
}
.container-list {
    /* height: 100%; */
    min-height: calc(100vh - 70px);
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}