* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: "Segoe UI", "PingFang SC", Arial, sans-serif;
    margin: 0;
  }
  .container {
    /* max-width: 600px; */
    width: 100%;
    margin: 0 auto;
    /* background: rgba(255, 255, 255, 0.7); */
    border-radius: 8px;
    box-shadow: 0 2px 16px #e0e4ea;
    padding: 3px  10px ;
  }
  .item {
    margin: 10px 0 6px 0;
    border-bottom: 1px solid #e7ebf0;
    padding-bottom: 5px;
    transition: background 0.2s;
    cursor: default;
  }
  .item:last-child {
    border-bottom: none;
  }
  .title {
    font-weight: bold;
    font-size: 1.1em;
    color: rgb(20, 20, 38);
    margin-bottom: 3px;
    transition: color 0.2s;
  }
  .title a {
    text-decoration: none;
    color: inherit;
  }
  .title a:hover {
    color: #143652;
    cursor: default;
    background-color: rgba(17, 20, 25, 0.1);  }
  .desc {
    color: #2e2e2e;
    font-size: 0.95em;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 3px;
}