* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: "Segoe UI", "PingFang SC", Arial, sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0px 0px;
}

.item {
  margin: 04px;
  padding: 0;
  border-radius: 11px;
  /* box-shadow: inset 0 -1px #94969a; */
  border: 1px solid rgba(0, 0, 0, 0.2);
  /* transition: background 0.1s; */
  cursor: default;
}
.item:hover {
  background: rgba(17, 96, 125, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);

}
.title {
  font-weight: bold;
  font-size: 1.1em;
  color: rgb(20, 20, 38);
  margin-bottom: 3px;
  transition: color 0.2s;
  margin-left: 12px;
  margin-top: 7px;
}
a {
  text-decoration: none;
  color: inherit;
}
.desc {
  color: #2e2e2e;
  font-size: 0.95em;
  margin-left: 16px;
  margin-top: 5px;
  margin-bottom: 6px;
}