* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  font-family: "Segoe UI", "PingFang SC", Arial, sans-serif;
  margin: 0;
}
.item a {
  text-decoration: none;
}
.item {
  margin: 4px;
  padding: 0;
  border-radius: 8px;
  /* box-shadow: inset 0 -1px #94969a; */
  /* transition: background 0.1s; */
  cursor: default;
  border: 1px solid #555;
  padding: 12px 15px;

}
.item:hover {
  /* background: rgba(17, 96, 125, 0.1); */
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-left: 3px solid rgba(0, 0, 0, 0.7);

}
.title-l {
  font-weight: bold;
  font-size: 1.1em;
  color: rgb(0, 0, 0);
  transition: color 0.2s;
}

.desc {
  color: #2e2e2e;
  font-size: 0.95em;
  margin-left: 5px;
  margin-top: 5px;
}
.date {
  color: #1e1e1e;
  font-size: 0.95em;
  margin-left: 16px;
  margin-top: 5px;
}

