body {
    font-family: "Segoe UI", "PingFang SC", Arial, sans-serif;
    background: #f7f9fb;
    margin: 0;
  }
  .container {
    max-width: 600px;
    margin: 0px auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 16px #e0e4ea;
    padding: 10px;
  }
  h2 {
    margin-top: 0;
    color: #2463a2;
    letter-spacing: 2px;
    font-size: 2em;
  }
  .item {
    margin: 22px 0 14px 0;
    border-bottom: 1px solid #e7ebf0;
    padding-bottom: 8px;
    transition: background 0.2s;
  }
  .item:last-child {
    border-bottom: none;
  }
  .title {
    font-weight: bold;
    font-size: 1.2em;
    color: #224;
    margin-bottom: 2px;
    transition: color 0.2s;
  }
  .title a {
    text-decoration: none;
    color: inherit;
  }
  .title a:hover {
    color: #2463a2;
  }
  .desc {
    color: #6a7687;
    font-size: 0.97em;
    /* margin-left: 4px; */
    margin-bottom: 3px;
  }